<div class="padding10" data-id="info-correct-box">
</div>
<!-- 
  <div class="margin-t30">
    <div class="text-no-bold sub-title f16 margin_b10">休学申请表</div>
    <div class="border-e0e0e0">
      <textarea id="editor4" rows="10" class="full-width" datatype="*" nullmsg="请填写原因" errormsg="请填写原因"></textarea>
    </div>
  </div>

  <div class="text-center margin-t30">
    <button class="btn btn-lg btn-orange" style="width:200px;">提交申请</button>
  </div>
 
  <div class="margin-t30">
    <div class="text-no-bold sub-title f16 margin_b10">休学申请表</div>
    <div class="border-e0e0e0 padding20">
      <p>尊敬的校领导：<br />
      本人 &nbsp;XXX &nbsp; ，现就读于国家开放大学（广州）实验学院，<br />
      所读专业：层次+专业，学号：XXXXXXXXXX；所在班级：2014年春专科行政管理班。<br />
      因XXXXXXXXXX的原因，现申请休学XXX年。</p>
    </div>
  </div>

  <div class="margin-t30">
    <div class="text-no-bold sub-title f16 margin_b10">审核流程</div>
    <div class="padding10 border-e0e0e0">
      <div class="logistics-box logistics-box-2">
          <dl>
              <dt>李志斌（学员） 2017-05-27</dt>
              <dd class="static gray">学员申请</dd>
              <dd class="icon-order"></dd>
          </dl>

          <dl>
              <dt>学习中心审批</dt>
              <dd class="static gray">待审核</dd>
              <dd class="icon-order"></dd>
          </dl>

          <dl>
              <dt>学习中心审批</dt>
              <dd class="static text-red">审核不通过</dd>
              <dd class="icon-order icon-order-red"></dd>
              <dd class="message">
                <div class="txt margin_t5 margin_b10">
                  <div>经沟通，学员继续完成学业！</div>
                  <div class="margin_t10 text-right gray">
                    审核人：学习中心管理员<br>
                    2017-05-27
                  </div>
                </div>
              </dd>
          </dl>
          
          <dl>
              <dt>学习中心审批</dt>
              <dd class="static text-green">审核通过</dd>
              <dd class="icon-order icon-order-green"></dd>
              <dd class="message">
                <div class="txt margin_t5 margin_b10">
                  <div>经沟通，学员情况属实，同意休学申请！</div>
                  <div class="margin_t10 text-right gray">
                    审核人：王晓敏<br>
                    2017-05-27
                  </div>
                </div>
              </dd>
          </dl>

          <dl class="last">
              <dt>学籍科审批</dt>
              <dd class="static text-green">审核通过</dd>
              <dd class="icon-order icon-order-green"></dd>
              <dd class="message">
                <div class="txt margin_t5 margin_b10">
                  <div>同意！</div>
                  <div class="margin_t10 text-right gray">
                    审核人：王晓敏<br>
                    2017-05-27
                  </div>
                </div>
              </dd>
          </dl>            
      
      </div>
    </div>
  </div>
 -->
<!--全局模板-->
<script type="text/template" id="change-global-temp">
  <div class="tabs_content">
      <div class="padding15" data-id="tab-box">
          <table width="100%" height="400" class="text-center">
            <tr>
              <td valign="middle">
                
                <p>
                  <i class="loading"></i>
                  </p>
                  <p class="font22 gray margin_t10">数据加载中...</p>
              </td>
            </tr>
          </table>
      </div>
  </div>
</script>

<!--休学申请 模板-->
<script type="text/template" id="apply-suspend-temp"> 
   {{if baseInfo.msgCode==200 && baseInfo.data && baseInfo.data.info && otherInfo.msgCode==200 && otherInfo.data && otherInfo.data.isApplyFor==1}}
    <div class="padding_b20 text-center border-bottom margin_b25 margin_t25">
      {{if otherInfo.data.transactionStatus===0}}
          <i class="alert-icon alert-icon-0x0"></i>
          <span class="margin_l10 font24 text-orange inline-block vertical-middle">已提交休学申请，请等待审核</span> 
      {{else if otherInfo.data.transactionStatus==3}}
          <i class="alert-icon alert-icon-0x0"></i>
          <span class="margin_l10 font24 text-orange inline-block vertical-middle">已提交休学申请，待访谈</span>
      {{else if otherInfo.data.transactionStatus==2}}
          <i class="alert-icon alert-icon-150x63"></i>
          <span class="margin_l10 font24 text-red inline-block vertical-middle">休学申请审核不通过</span>
      {{else if otherInfo.data.transactionStatus==1}}
          <i class="alert-icon alert-icon-56x0"></i>
          <span class="margin_l10 font24 text-green inline-block vertical-middle">休学申请审核通过</span>
      {{/if}}
    </div>
  {{/if}}

 {{include 'person-info-temp' baseInfo}}

 {{if baseInfo.msgCode==200 && baseInfo.data && baseInfo.data.info}}
   {{if otherInfo.msgCode==200 && otherInfo.data}}
	 <!--未提交申请 {{otherInfo.data.isApplyFor}}-->
 	 {{if otherInfo.data.isApplyFor==null || otherInfo.data.isApplyFor==0}}
		<form class="theform">
       	 <div class="margin-t30">
			
    		<div class="text-no-bold sub-title f16 margin_b10">休学申请表</div>
    		<div class="border-e0e0e0">
      			<textarea id="editor4" rows="10" class="full-width" datatype="*" nullmsg="请填写原因" errormsg="请填写原因" name="leaveStudyContent"></textarea>
    		</div>
  			</div>	 
	{{include 'confirm-sign-temp' otherInfo}}
 	 <div class="text-center margin-t30">
      <button type="submit" class="btn btn-lg btn-orange" style="width:200px;">提交申请</button>
     </div>
    </form>
   {{else}}
	<div class="margin-t30">
    	<div class="text-no-bold sub-title f16 margin_b10">休学申请表</div>
         <div class="border-e0e0e0 padding20">     		
			<textarea id="editor4" rows="10" class="full-width" datatype="*" disabled>{{otherInfo.data.newStudentInfo.leaveStudyContent}}</textarea>
    	 </div>
  	</div>  	
	<div class="margin-t30">
      <div class="text-no-bold sub-title f16">签名确认</div>
        <table class="table-gray-th text-center margin_t10" height="250">
          <tbody>
           <tr>
             <td>
               <img src="{{otherInfo.data.newStudentInfo.sign}}">
             </td>
            </tr>
          </tbody>
        </table>
     </div>
  {{include 'approval-process-temp' otherInfo}}

  {{if otherInfo.data.transactionStatus==2}}
   <div class="text-center margin-t30">
      <button class="btn btn-lg btn-orange" style="width:200px;" data-role="re-apply">重新申请休学</button>
   </div>
  {{/if}}
 {{/if}}
{{/if}}

{{else}}

{{/if}}
</script>
 
<!--个人信息 模板-->
<script type="text/template" id="person-info-temp">
  <div class="text-no-bold sub-title f16 margin_b10">个人信息</div>
    <table class="table-gray-th">
        <tbody>
          {{if msgCode==200}}
            {{if data && data.info}}
              <tr>
                <th width="10%" class="text-right">姓名</th>
                <td width="22%">{{data.info.xm}}</td>

                <th width="10%" class="text-right">专业</th>
                <td>{{data.info.specialtyName}}（{{data.info.ruleCode}}）</td>

                <th width="10%" class="text-right">层次</th>
                <td width="20%">{{data.info.pyccName}}</td>
              </tr>
              <tr>
                <th class="text-right">身份证</th>
                <td>{{data.info.sfzh}}</td>

                <th class="text-right">年级</th>
                <td>{{data.info.yearName}}</td>

                <th class="text-right">学期</th>
                <td>{{data.info.gradeName}}</td>
              </tr>
            {{else}}
              <tr>
                <td>
                  <div class="text-center padding20">
                      <i class="alert-icon alert-icon-123x63"></i>
                      <span class="f14">无数据</span>
                  </div>
                </td>
              </tr>
            {{/if}}
          {{else}}
            <tr>
              <td>
                <div class="text-center padding20">
                    <i class="alert-icon alert-icon-123x63"></i>
                    <span class="f14">{{message}}</span>
                </div>
              </td>
            </tr>
          {{/if}}
        </tbody>
    </table>
  </div>
</script>  
<!--签名确认 模板-->
<script type="text/template" id="confirm-sign-temp">
  <div class="margin-t30">
    <div class="text-no-bold sub-title f16">签名确认</div>
    <table class="table-gray-th text-center margin_t10" height="350">
        <tr>
          <td valign="middle">
            <div class="valid-control">
              {{if data.isApplyFor==null || data.isApplyFor==0}}
                <div data-id="qrcode-pic-box">
                  <img src="{{(data.newStudentInfo && data.newStudentInfo.sign)?data.newStudentInfo.sign:''}}" style="max-width:100%">
                </div>

                <div id="sign-qrcode" class="margin_b10 hide"></div>

                <div class="hide f16" data-id="sign-tips">
                  请用手机扫一扫输入您的电子签名
                </div>

                <button type="button" class="btn btn-lg btn-orange border-radius min-width-120" data-role="create-qrcode">重新签名</button>

                <input class="form-control form-control-block" type="hidden" datatype="*" nullmsg="请签名" errormsg="请签名" name="sign">
    
              {{else}}
                
                <div id="sign-qrcode" class="margin_b10">
                  <i class="loading"></i>
                </div>

                <div class="f16" data-id="sign-tips">
                    请用手机扫一扫入您的电子签名
                </div>

                <button type="button" class="btn btn-lg btn-orange border-radius min-width-120" data-role="create-qrcode" style="display:none;">重新签名</button>

                <input class="form-control form-control-block" type="hidden" value="{{(data.newStudentInfo && data.newStudentInfo.sign)?data.newStudentInfo.sign:''}}" datatype="*" nullmsg="请签名" errormsg="请签名" name="sign">

              {{/if}}
              
              <div class="tooltip yellow_tip t_arrow tooltip-valid" style="margin-bottom:10px;left:47%;"><div class="tooltip-in text-nowrap"></div><span class="t_arrow"><i class="arrow"></i><i class="arrow arrow_inner"></i></span></div>
            </div>
          </td>
        </tr>
      </table>
  </div>
</script>

<!--审批流程 模板-->
<script type="text/template" id="approval-process-temp">
  {{if data.schoolRollRransAuditList && data.schoolRollRransAuditList.length>0}}
    <div class="margin-t30">
      <div class="text-no-bold sub-title f16 margin_b10">审核流程</div>
      <div class="padding10 border-e0e0e0">
        <div class="logistics-box logistics-box-2">
          {{each data.schoolRollRransAuditList}}
            <!--学员-->
            <dl class="{{($index==data.schoolRollRransAuditList.length-1)?'last':''}}">
              {{if $value.auditOperatoRole==1}}
                  <dt>{{studentName}}（{{$value.auditOperatoRole | roleConvert}}） <small class="font_gray">{{$value.auditDt}}</small></dt>
                  <dd class="static gray">{{$value.auditOperatoRole | roleConvert}}申请</dd>
                  <dd class="icon-order"></dd>
              {{else}}
                {{if $value.auditState==0}}
                    <dt>{{$value.auditOperatoRole | roleConvert}}审批</dt>
                    <dd class="static gray">待审核</dd>
                    <dd class="icon-order"></dd>
                {{else if $value.auditState==1 || $value.auditState==2}}
                    <dt>{{$value.auditOperatoRole | roleConvert}}审批</dt>
                    <dd class="static">
                      {{if $value.auditState==1}}
                        <span class="text-green">审核通过</span>
                      {{else if $value.auditState==2}}
                        <span class="text-red">审核不通过</span>
                      {{/if}}
                    </dd>
                    {{if $value.auditState==1}}
                      <dd class="icon-order icon-order-green"></dd>
                    {{else if $value.auditState==2}}
                      <dd class="icon-order icon-order-red"></dd>
                    {{/if}}
                    <dd class="message">
                      <div class="txt margin_t5 margin_b10">
                        <div>{{$value.auditContent}}</div>
                        <div class="margin_t10 text-right gray">
                          审核人：{{$value.auditOperatoRole | roleConvert}}<br>
                          {{$value.auditDt}}
                        </div>
                      </div>
                    </dd>
                {{/if}}
              {{/if}}
            </dl>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
</script>
<script type="text/javascript">
require(['jquery','artTemplate','common','jquery.qrcode','http://css.gzedu.com/ouchgzee_com/platform/xllms_css/plugins/ckeditor/ckeditor.js'], function ($,template) {

    
 
  template.helper('roleConvert', function (role) {
	    var roleName='学员';
	    role || (role=1);
	    role=parseInt(role);
	    switch(role){
	      case 1:
	        roleName='学员';
	        break;
	      case 2:
	        roleName='班主任';
	        break;
	      case 3:
	        roleName='学习中心管理员';
	        break;
	      case 4:
	        roleName='招生办';
	        break;
	      case 5:
	        roleName='学籍科';
	        break;
	      default:
	        break;
	    }
	    return roleName;
	  });
  
  $(window).scrollTop(0);
  var $container=$('[data-id="info-correct-box"]');
  $container.html( template('change-global-temp'))
  var $tabCntContainer=$('[data-id="tab-box"]',$container);
  getBaseInfo().done(function(renderData){
	  ajaxProcess({
		//接口 1.12 查看异动详情
	      url:'/pcenter/roll/transaction/getSchoolRollRransAuditList',
	      type:'GET',
	      data:{
	          transactionType:2
	        },
	      success:function(jsonData){
    	  	$tabCntContainer.html(template('apply-suspend-temp',{
              	baseInfo:renderData,
              	otherInfo:$.extend(true, jsonData, {studentName:renderData.data.info.xm}),
            }));
    	  	
    	  	//编辑器
    	    CKEDITOR.replace('editor4',{
    	      on:{
    	        change:function(evt){
    	          evt.sender.element.$.value=evt.editor.getData();
    	        }
    	      },
    	      //extraPlugins:'justify',//对齐效果需要增加相关插件 http://ckeditor.com/addon/justify
    	      toolbarGroups : [
    	        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
    	        { name: 'links' },
    	        { name: 'paragraph',   groups: [ 'list', 'indent', 'align'] },
    	        { name: 'styles' }
    	      ]
    	    });
    	  	 //生成二维码
            createQrcode( (jsonData.data.newStudentInfo && jsonData.data.newStudentInfo.sign && jsonData.data.isApplyFor==1)?true:false );
	      
            //表单验证
            initValidForm($(".theform",$container), function() {
                var curform = this;
                $('[data-role="page-loading"]').show();

                curform.find('.img-val:hidden').remove();

                ajaxProcess({
                    //1.11 学籍异动休学申请
                    url: '/pcenter/roll/transaction/tranLeaveStudy',
                    type: 'POST',
                    data: curform.serialize()+'&isApplyFor='+( (jsonData.data || jsonData.data.isApplyFor==null)?0:1)+'&transactionType='+2 ,
                    success: function(data) {
                        if (data.msgCode == 200) {
                            $.when($.resultDialog(1, '提交成功')).done(function() {
                                curRoute.app.refresh();
                            });
                        } else {
                            $.resultDialog(1, data.message);
                        }
                    },
                    fail: function(errorMsg) {
                        $.resultDialog(2, '提交失败', 2000);
                    },
                    always: function() {
                        $('[data-role="page-loading"]').hide();
                    }
                });
            },{datatype:{
                "imgurl":function(gets,obj,curform,regxp){
                  if(!obj.is(':visible')){return true}
                  else if(gets!=''){return true;}
                  else{return false;}
                }
              }
            });
	      }
	  })
	  
  }).fail(function(XMLHttpRequest, textStatus){	  
	  $tabCntContainer.html( template('error-tips-temp',{message:textStatus}) ) 
  });
  
  
  function getBaseInfo(){
	    return ajaxProcess({
	      //接口 1.1 学籍基本资料
	      url:'/pcenter/roll/getBaseInfo',
	      type:'GET'
	    });
	  }
   
  //重新申请
  $container.on('click','[data-role="re-apply"]',function(event) {
    var $pop=$.alertDialog({
        width:340,
        height:270,
        content:[
          '<i class="alert-icon alert-icon-0x0 margin_r10"></i>',
            '<span class="font18 text-orange vertical-middle inline-block">确定要重新申请休学？</span>'
        ].join(''),
        okCss:'btn btn-normal btn-orange margin_l15 min-width-100',
        cancelCss:'btn btn-normal btn-gray min-width-100',
        ok:function(){

          var $pageLoading=$('[data-role="page-loading"]');

          $pageLoading.show();
          ajaxProcess({
            //接口 1.15 重新提交异动申请
            url:'/pcenter/roll/transaction/againSubmit',
            type:'POST',
            data:{
              transactionType:2
            },
            success:function(data){
              if(data.msgCode==200){
                curRoute.app.refresh();
              }
              else{
                $.resultDialog(0,data.message);
              }
            },
            fail:function(errorMsg){
              $.resultDialog(2,errorMsg,2000);
            },
            always:function(){
              $pageLoading.hide();
            }
          });
          $.closeDialog(this)          
        }
    });
  });
  
//生成二维码
  function createQrcode(isSigned){
    var $qrcodePic=$('[data-id="qrcode-pic-box"]',$container)
    var $createBtn=$('[data-role="create-qrcode"]',$container);
    var $signQrcod=$('#sign-qrcode',$container);
    var $signTips=$('[data-id="sign-tips"]',$container);

    //如果早前已经签名确认过了，就不能再签名了
    if(isSigned) return;

    if($createBtn.data('recreate')){
      $signTips.show();
      $createBtn.hide();
    }

    if(!$createBtn.data('recreate')){
      $createBtn.hide().data('recreate',true);
    }

    $createBtn.prop('disabled',true).addClass('disabled').text('二维码生成中...')

    $signQrcod.html('<i class="loading"></i>');
    $signTips.hide();

    //获取签名二维码
      ajaxProcess({
        url:'/pcenter/qrcode/getToken',
        type:'GET',
        success:function(data){
          //清除计时器
          $.each(window['timerCollectors'], function(i, e) {
            if(e){
              clearInterval(e);
            }
          });         
          if( data.data && data.data.obj){
            $createBtn.prop('disabled',false).removeClass('disabled').text('重新签名');
            $qrcodePic.hide();
            $signTips.show();
            //如果是IE8及以下的IE浏览器，使用table渲染类型
            var qrcodeRenderType=($('html').hasClass('ie8') || $('html').hasClass('ie67'))?"table":"canvas";

            //console.log('http://'+location.host+'/pcenter/qrcode/mobile-signup.html?token='+(data.data.obj))

            $signQrcod.empty().qrcode({
              render : qrcodeRenderType,
              width : 230,
              height : 230,
              text  : 'http://'+location.host+'/pcenter/qrcode/mobile-signup.html?token='+(data.data.obj)
            }).show();

            // 每隔1秒检测是否签名
            var signInt = setInterval(function () {
              // 获取当前时间戳(以s为单位)
              var timestamp = Date.parse(new Date());
              timestamp = timestamp / 1000;
              
              ajaxProcess({
                url:'/pcenter/qrcode/signCheck',
                type:'GET',
                data:{token:data.data.obj,timestamp:timestamp},
                success:function(data){
                  if(data.data && data.data.obj) {
                      clearInterval(signInt); 
                      $('[name="sign"]',$container).val(data.data.obj).next('.tooltip').hide();
                      $signQrcod.html('<img src="'+data.data.obj+'" style="max-width:100%;">');
                      $signTips.hide();
                      $createBtn.show();
                      $('[data-id="step4-submit"]',$container).show();
                  }
                }
              })
            }, 1000);

            window['timerCollectors'].push(signInt);
          }
        },
        fail:function(error){
          $createBtn.prop('disabled',false).removeClass('disabled').text('二维码生成出错，重新生成');
          //清除计时器
          $.each(window['timerCollectors'], function(i, e) {
            if(e){
              clearInterval(e);
            }
          });
        }
      });
  }
  $container.on('click','[data-role="create-qrcode"]',function(event) {
    createQrcode();
  });
  
});
</script>