@charset "utf-8";
/* CSS Document */

.body {background:#f0f0f0 url('images/bg-body.gif') top left repeat-y;color: #555; font-size: 12px; }

/*-- 框架 -*/
#main-content{ margin-left:198px;}
#side-nav{ width:198px;}

/*-- 顶部 --*/
.header{background:url(images/head_bg2.jpg) repeat-x!important;}
.header_content{ height:118px; background:url(images/head_bg.jpg) no-repeat;}
.header .s1{ font:bold 20px/1.2em Microsoft YaHei,'\5b8b\4f53',sans-serif; color:#fff;}
.header .s2{ font:bold 18px/1.2em Microsoft YaHei,'\5b8b\4f53',sans-serif; color:#fff;}
.header .s1 img{vertical-align:middle;margin-top:-8px;}

.header .s3{ top:20px;}
.header .infArea{width:400px;}
.header .infArea .img{ display:none; float:right; width:50px; height:50px; border:3px solid #fff;}
.header .infArea .img img{ width:100%; height:100%;}
.header .infArea .txt{ display:block;padding:2px 0; line-height:2.2em; color:#fff; zoom:1;}
.header .infArea .txt p{ padding-bottom:0;}
.header .infArea .txt a{ color:#fff;}

/*-- 顶部菜单 --*/
.head_dh_area .dh_lt{background:url(images/header_dh_nav.png) no-repeat;}
.head_dh_area .dh_rt{background:url(images/header_dh_nav.png) right 0 no-repeat;}
.head_dh_area .dh_list li i{background:url(images/header_dh_nav.png) 0 -100px no-repeat;}
.head_dh_area .dh_list li span{background:url(images/header_dh_nav.png) right -100px no-repeat;}
.head_dh_area .dh_list li.cur a span{ color:yellow;}
.head_dh_area .dh_list li a:hover span{ color:yellow;}


/*-- 侧栏菜单 --*/
/************ Sidebar Accordion Menu ************/
#side-nav nav{}
#side-nav nav #main-nav{width: 198px;padding: 0; margin: 0 0 0 0;padding-top:29px; }
#side-nav nav #main-nav li { text-align:left; padding-bottom:0;}
#side-nav nav #main-nav li a.nav-top-item{padding:0 10px 0 40px;}
#side-nav nav #main-nav li a.nav-top-item{ padding:0 10px 0 40px; height:32px; font-size:12px; line-height:32px; color:#3b5999; font-weight:bold;}
#side-nav nav #main-nav li a:hover{ color:#00b7ee;}
#side-nav nav #main-nav li a.nav-top-item { background: transparent url(images/bg-menu-item-green.gif) right center no-repeat;}
#side-nav nav #main-nav li a.current { background-image: url(images/bg-menu-item-current.gif) !important; color: #fff; font-weight: bold; }
#side-nav nav #main-nav li a.current:hover { color: #fff; }
#side-nav nav #main-nav ul li a { padding:0 0 0 50px;color: #333; text-align:left; line-height:32px; background:url(images/bg-menu-sub-item.gif) no-repeat; font-weight:normal;}
#side-nav nav #main-nav ul li a:hover,
#side-nav nav #main-nav ul li a.current,
#side-nav nav #main-nav ul li a.current:hover { color: #3b5999; }
#side-nav nav #main-nav ul li a.current { font-weight:normal; background: transparent url(images/bg-menu-sub-item-current.gif) right center no-repeat    !important; color:#3b5999; }

.shrink_area i{left:198px;}
.shrink_area i.s{ left:198px;}
.shrink_area:hover i{ background-position:-50px 0;}
.shrink_area:hover i.s{ background-position:-100px 0; left:0;}

