<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>2017秋期末考试指引</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection">
  <meta content="email=no" name="format-detection">

  <link rel="stylesheet" href="http://css.gzedu.com/gzdd_ouchgzee_com/platform/student/mobile/css/sm.min.css">
  <link rel="stylesheet" href="http://css.gzedu.com/gzdd_ouchgzee_com/platform/student/mobile/css/sm-extend.min.css">

  <link rel="stylesheet" href="http://css.gzedu.com/exam_chinaeenet_com/mobile/exam-guide/style/guide.css">

  
</head>
<body>

<div class="page-group" data-id="login">
    <!-- 单个page ,第一个.page默认被展示-->
    <div class="page page-current page-bg">
        <!-- 这里是页面内容区 -->
        <div class="content">
            <div class="banner">
              <img src="http://css.gzedu.com/exam_chinaeenet_com/mobile/exam-guide/images/banner.png">
            </div>
            <div class="content-padded" style="margin-top:0;">
              <div class="content-box video-box">
                <div class="box-top"></div>
                <div class="box-body">
                  <video src="http://video.eenet.com/resourse/gzsyxy/2017/kqdyxlhd/video/17qqmkszy.mp4" width="100%" height="100%" x5-playsinline playsinline -webkit-playsinline data-role="video" class="video-obj">
                  </video>
                  <div class="video-poster">
                    <img src="http://css.gzedu.com/exam_chinaeenet_com/mobile/exam-guide/images/poster.png">
                    <span></span>
                  </div>
                </div>
                <div class="box-bottom"></div>
              </div>

              <h3 class="content-title">01. 本学期需要考试科目</h3>
              <div class="content-box">
                <div class="box-top"></div>
                <div class="box-body table-responsive">

                  <div data-id="exam-course-box">
                      <div class="text-center">
                        <span class="preloader" style="width: 2rem;height: 2rem;"></span>
                      </div>
                  </div>
                  
                </div>
                <div class="box-bottom"></div>
              </div>

              <h3 class="content-title">02. 复习攻略</h3>
              <div class="content-box">
                <div class="box-top"></div>
                <div class="box-body table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th width="20%">考试形式</th>
                        <th width="30%">考试服务</th>
                        <th width="30%">参与方式</th>
                        <th width="20%">时间</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>笔试</td>
                        <td>考前辅导（部分科目，请留意通知）、复习资料</td>
                        <td>
                          1、课程辅导→直播辅导 <br>
                          2、共享资料
                        </td>
                        <td>
                          12月7日<br>
                          ~<br>
                          1月5日
                        </td>
                      </tr>
                      <tr>
                        <td>机考</td>
                        <td>
                          考前辅导（部分科目，请留意通知）、复习资料
                        </td>
                        <td>
                          1、课程辅导→直播辅导 <br>
                          2、共享资料
                        </td>
                        <td>
                          12月7日<br>
                          ~<br>
                          1月5日
                        </td>
                      </tr>
                      <tr>
                        <td>省网考</td>
                        <td>一周练题</td>
                        <td>考试前一周登录易考通平台</td>
                        <td>
                          12月18日<br>
                          ~<br>
                          12月24日
                        </td>
                      </tr>
                      <tr>
                        <td>网考</td>
                        <td>真题模拟</td>
                        <td>课程学习界面→重难点学习→模拟测试</td>
                        <td>
                          12月1日<br>
                          ~<br>
                          12月28日
                        </td>
                      </tr>
                      <tr>
                        <td>大作业</td>
                        <td>进入“考试”按照要求提交文档即可</td>
                        <td>“我的考试”→操作</td>
                        <td>
                          12月7日<br>
                          ~<br>
                          12月28日
                        </td>
                      </tr>
                      <tr>
                        <td>报告</td>
                        <td>观看毕业指导录播</td>
                        <td>APP→直播</td>
                        <td>12月1日起</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="box-bottom"></div>
              </div>

              <h3 class="content-title">03. 考前活动预告</h3>
              <div class="content-box">
                <div class="box-top"></div>
                <div class="box-body table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th width="20%">活动名称</th>
                        <th width="20%">活动形式</th>
                        <th width="30%">参与方式</th>
                        <th width="30%">时间</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>专业课考前辅导</td>
                        <td>直播</td>
                        <td>课程辅导→ 直播辅导</td>
                        <td>提前一周通知</td>
                      </tr>
                      <tr>
                        <td>人文英语一辅导</td>
                        <td>
                          直播
                        </td>
                        <td>课程辅导→直播辅导</td>
                        <td>
                          每周三、周五<br>
                          15：00~17：00
                        </td>
                      </tr>
                      <tr>
                        <td>人文英语三辅导</td>
                        <td>直播</td>
                        <td>课程辅导→直播辅导</td>
                        <td>
                          每周二、周四<br>
                          15：00~17：00
                        </td>
                      </tr>
                      <tr>
                        <td>形考知多少</td>
                        <td>微视频</td>
                        <td>APP→直播</td>
                        <td>
                          12月7日<br>
                          ~<br>
                          12月31日
                        </td>
                      </tr>
                      <tr>
                        <td>易考通使用指南</td>
                        <td>微视频</td>
                        <td>APP→直播</td>
                        <td>
                          12月7日<br>
                          ~<br>
                          12月31日
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="box-bottom"></div>
              </div>
            </div>

            <div class="content-footer">
              <h4 class="content-footer-title">
                还有疑问请点击下方提问，<br>
                我们会及时为您解答：
              </h4>
              <button type="button" class="my-btn my-btn-red" data-role="ask">提问</button>

              <h4 class="content-footer-title">
                如您已经收到我们的信息，请猛戳下方↓↓↓
              </h4>
              <button type="button" class="my-btn my-btn-yellow" data-role="receiver">收到</button>

              <h4 class="content-footer-title">
                进行考试预约、考试、参与考试辅导相关操作
                可以扫描二维码下载“国开在线APP”
              </h4>
              <img src="http://css.gzedu.com/exam_chinaeenet_com/mobile/exam-guide/images/qrcode.png" class="qrcode-pic">

              <h4 class="content-footer-title" style="margin:1.4rem 0 .2rem;">
                或PC官网登录学习空间：
              </h4>
              <a href="http://www.oucgz.cn/" class="link external">http://www.oucgz.cn/</a>

              <h4 class="content-footer-title">
                更多资讯请扫码或搜索oucgz1关注微信公众号
              </h4>
              <img src="http://css.gzedu.com/exam_chinaeenet_com/mobile/exam-guide/images/qrcode2.png" class="qrcode-pic">
            </div>
        </div>
    </div>
</div>

<!--提问模板-->
<div class="popup" id="ask">
    
</div>
  <script type="text/template" id="pop-content-temp">
    <header class="bar bar-nav bar-nav-top">
        <a class="button button-link button-nav pull-left close-popup" href="javascript:;">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title">提问题</h1>
    </header>
    <div class="bar bar-tab">
      <a href="#" class="button button-fill flat" data-id="submit" style="top:0;height: 100%;line-height:2.5rem;font-size:.85rem">发表</a>
    </div>
    <div class="content">
      <div class="content-block">
        <form data-id="form1" action="javascript:return true;">
          <div class="list-block" style="margin-bottom:.75rem;">
            <div class="border">
              <input placeholder="请输入标题" data-rule=".+" data-msg-empty="请输入标题" data-msg-error="请输入标题" name="title" type="text" style="font-size:.7rem">
            </div>

            <div class="border" style="margin-top:.5rem;">
              <textarea class="border" style="height:7rem;font-size:.7rem" placeholder="请输入问题内容" data-rule=".+" data-msg-empty="请填写问题内容" data-msg-error="请填写问题内容" name="content"></textarea>
            </div>
          </div>
          <div style="margin-bottom:.5rem">图片上传</div>
          <div class="weui-uploader__bd">
             <ul class="weui-uploader__files" id="uploaderFiles"></ul>
             <div class="weui-uploader__input-box">
                 <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" capture="camera" multiple="">
             </div>
          </div>
        </form>
      </div>
    </div>
  </script>

<!--收到-->
<div class="popup" id="receiver">
  
</div>
  <script type="text/template"  id="pop-receiver-temp">
    <header class="bar bar-nav bar-nav-top">
        <a class="button button-link button-nav pull-left close-popup" href="javascript:;">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title">收到</h1>
    </header>
    <div class="bar bar-tab">
      <a href="#" class="button button-fill flat" data-id="receive" style="top:0;height: 100%;line-height:2.5rem;font-size:.85rem">提交</a>
    </div>
    <div class="content">
      <div class="content-block-title">对您的复习是否有帮助？</div>
      <div class="list-block media-list">
        <ul class="sel-menu">
          <li>
            <label class="label-checkbox item-content">
              <input type="radio" name="my-radio" data-val="0" value="赞，帮助很大哟！" checked>
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
               赞，帮助很大哟！
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="radio" name="my-radio" data-val="1" value="嗯，有一定的帮助！">
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
               嗯，有一定的帮助！
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="radio" name="my-radio" data-val="2" value="唉，没有多大帮助呀！">
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
               唉，没有多大帮助呀！
              </div>
            </label>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="radio" name="my-radio" data-val="3">
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
               还不满意？请告诉我们您的期望↓
              </div>
            </label>
          </li>
        </ul>
        
        <div class="content-block" data-id="need-cnt" style="padding-top:.8rem;margin-top:0;margin-bottom:0;display:none;">
          <div class="border">
            <textarea style="height:7rem;font-size:.7rem;" placeholder="请输入您的需求" data-rule=".+" data-msg-empty="请填写需求" data-msg-error="请填写需求"></textarea>
          </div>
        </div>
      </div>
    </div>
  </script>

<!--图片提交模板-->
<script type="text/html" id="h-tmp">
  <html>
  <head>
  </head>
  <body>
  <form id="submitForm" name="submitForm" method="post" enctype="multipart/form-data" action="http://eefile.gzedu.com/ossupload/uploadInterface.do">
    <input type="file" name="files" id="file" accept="image/*" multiple>    
    <input type="hidden" name="formMap.FILE_TYPE" value="files">
    <input type="hidden" name="formMap.origin" value="{{basePath}}/pcenter/exam-guide/uploadIframe.html">
    <input type="hidden" name="formMap.filecwd" value="/APP038/xj/image">
    <input type="hidden" name="formMap.ACCESS_KEY_ID" value="b49ca70bac1082b01318bd3cecf317e4">
    <input type="hidden" name="formMap.ACCESS_KEY_SECRET" value="17b16aedf2f46e32ccfbd6049090925f">
  </form>
  </body>
  </html>
</script>

<!--考试科目 模板-->
<script type="text/template" id="exam-course-temp">
  {{if msgCode==200 && data}}
    {{if data.infos && data.infos.length>0}}
      <table class="table">
        <thead>
          <tr>
            <th width="20%">科目</th>
            <th width="20%">考试形式</th>
            <th width="20%">形考比例</th>
            <th width="20%">学习成绩</th>
            <th width="20%">预约状态</th>
          </tr>
        </thead>
        <tbody>
          {{each data.infos}}
            <tr>
              <td>{{$value.COURSE_NAME}}</td>
              <td>{{$value.EXAM_STYLE}}</td>
              <td>
                {{if $value.EXAM_PLAN_XK_PERCENT!=null}}
                  {{$value.EXAM_PLAN_XK_PERCENT}}%
                {{else}}
                  --
                {{/if}}
              </td>
              <td>{{$value.NEW_EXAM_SCORE}}</td>
              <td>
                {{if $value.BESPEAK_STATE}}
                  {{if $value.BESPEAK_STATE==0}}
                    <span class="text-orange">待预约</span>
                  {{else if $value.BESPEAK_STATE==1}}
                    <span class="text-green">已预约</span>
                  {{else if $value.BESPEAK_STATE==2}}
                    <span>无需预约</span>
                  {{/if}}
                {{else}}
                  --
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="text-orange text-center"><span class="icon icon-alert" style="font-size:2rem;margin-right:7px;line-height: 1;"></span>您暂无科目需要考试</div>
    {{/if}}
  {{else}}
    <div class="text-orange text-center"><span class="icon icon-alert" style="font-size:2rem;margin-right:7px;line-height: 1;"></span>{{message}}</div>
  {{/if}}
</script>

<script type="text/javascript" src="http://css.gzedu.com/gzdd_ouchgzee_com/platform/student/mobile/js/zepto.min.js"></script>

<script type="text/javascript" src="http://css.gzedu.com/gzdd_ouchgzee_com/platform/student/mobile/js/template.js"></script>


<script type="text/javascript" src="http://css.gzedu.com/gzdd_ouchgzee_com/platform/student/mobile/js/sm.min.js"></script>
<script type="text/javascript" src="http://css.gzedu.com/gzdd_ouchgzee_com/platform/student/mobile/js/sm-extend.min.js"></script>

<script type="text/javascript" src="http://css.gzedu.com/gzdd_ouchgzee_com/platform/student/mobile/js/common.js"></script>

<script type="text/javascript">

//     Zepto.js
//     (c) 2010-2016 Thomas Fuchs
//     Zepto.js may be freely distributed under the MIT license.

;(function($){
  // Create a collection of callbacks to be fired in a sequence, with configurable behaviour
  // Option flags:
  //   - once: Callbacks fired at most one time.
  //   - memory: Remember the most recent context and arguments
  //   - stopOnFalse: Cease iterating over callback list
  //   - unique: Permit adding at most one instance of the same callback
  $.Callbacks = function(options) {
    options = $.extend({}, options)

    var memory, // Last fire value (for non-forgettable lists)
        fired,  // Flag to know if list was already fired
        firing, // Flag to know if list is currently firing
        firingStart, // First callback to fire (used internally by add and fireWith)
        firingLength, // End of the loop when firing
        firingIndex, // Index of currently firing callback (modified by remove if needed)
        list = [], // Actual callback list
        stack = !options.once && [], // Stack of fire calls for repeatable lists
        fire = function(data) {
          memory = options.memory && data
          fired = true
          firingIndex = firingStart || 0
          firingStart = 0
          firingLength = list.length
          firing = true
          for ( ; list && firingIndex < firingLength ; ++firingIndex ) {
            if (list[firingIndex].apply(data[0], data[1]) === false && options.stopOnFalse) {
              memory = false
              break
            }
          }
          firing = false
          if (list) {
            if (stack) stack.length && fire(stack.shift())
            else if (memory) list.length = 0
            else Callbacks.disable()
          }
        },

        Callbacks = {
          add: function() {
            if (list) {
              var start = list.length,
                  add = function(args) {
                    $.each(args, function(_, arg){
                      if (typeof arg === "function") {
                        if (!options.unique || !Callbacks.has(arg)) list.push(arg)
                      }
                      else if (arg && arg.length && typeof arg !== 'string') add(arg)
                    })
                  }
              add(arguments)
              if (firing) firingLength = list.length
              else if (memory) {
                firingStart = start
                fire(memory)
              }
            }
            return this
          },
          remove: function() {
            if (list) {
              $.each(arguments, function(_, arg){
                var index
                while ((index = $.inArray(arg, list, index)) > -1) {
                  list.splice(index, 1)
                  // Handle firing indexes
                  if (firing) {
                    if (index <= firingLength) --firingLength
                    if (index <= firingIndex) --firingIndex
                  }
                }
              })
            }
            return this
          },
          has: function(fn) {
            return !!(list && (fn ? $.inArray(fn, list) > -1 : list.length))
          },
          empty: function() {
            firingLength = list.length = 0
            return this
          },
          disable: function() {
            list = stack = memory = undefined
            return this
          },
          disabled: function() {
            return !list
          },
          lock: function() {
            stack = undefined
            if (!memory) Callbacks.disable()
            return this
          },
          locked: function() {
            return !stack
          },
          fireWith: function(context, args) {
            if (list && (!fired || stack)) {
              args = args || []
              args = [context, args.slice ? args.slice() : args]
              if (firing) stack.push(args)
              else fire(args)
            }
            return this
          },
          fire: function() {
            return Callbacks.fireWith(this, arguments)
          },
          fired: function() {
            return !!fired
          }
        }

    return Callbacks
  }
})(Zepto);
//     Zepto.js
//     (c) 2010-2016 Thomas Fuchs
//     Zepto.js may be freely distributed under the MIT license.
//
//     Some code (c) 2005, 2013 jQuery Foundation, Inc. and other contributors

;(function($){
  var slice = Array.prototype.slice

  function Deferred(func) {
    var tuples = [
          // action, add listener, listener list, final state
          [ "resolve", "done", $.Callbacks({once:1, memory:1}), "resolved" ],
          [ "reject", "fail", $.Callbacks({once:1, memory:1}), "rejected" ],
          [ "notify", "progress", $.Callbacks({memory:1}) ]
        ],
        state = "pending",
        promise = {
          state: function() {
            return state
          },
          always: function() {
            deferred.done(arguments).fail(arguments)
            return this
          },
          then: function(/* fnDone [, fnFailed [, fnProgress]] */) {
            var fns = arguments
            return Deferred(function(defer){
              $.each(tuples, function(i, tuple){
                var fn = $.isFunction(fns[i]) && fns[i]
                deferred[tuple[1]](function(){
                  var returned = fn && fn.apply(this, arguments)
                  if (returned && $.isFunction(returned.promise)) {
                    returned.promise()
                      .done(defer.resolve)
                      .fail(defer.reject)
                      .progress(defer.notify)
                  } else {
                    var context = this === promise ? defer.promise() : this,
                        values = fn ? [returned] : arguments
                    defer[tuple[0] + "With"](context, values)
                  }
                })
              })
              fns = null
            }).promise()
          },

          promise: function(obj) {
            return obj != null ? $.extend( obj, promise ) : promise
          }
        },
        deferred = {}

    $.each(tuples, function(i, tuple){
      var list = tuple[2],
          stateString = tuple[3]

      promise[tuple[1]] = list.add

      if (stateString) {
        list.add(function(){
          state = stateString
        }, tuples[i^1][2].disable, tuples[2][2].lock)
      }

      deferred[tuple[0]] = function(){
        deferred[tuple[0] + "With"](this === deferred ? promise : this, arguments)
        return this
      }
      deferred[tuple[0] + "With"] = list.fireWith
    })

    promise.promise(deferred)
    if (func) func.call(deferred, deferred)
    return deferred
  }

  $.when = function(sub) {
    var resolveValues = slice.call(arguments),
        len = resolveValues.length,
        i = 0,
        remain = len !== 1 || (sub && $.isFunction(sub.promise)) ? len : 0,
        deferred = remain === 1 ? sub : Deferred(),
        progressValues, progressContexts, resolveContexts,
        updateFn = function(i, ctx, val){
          return function(value){
            ctx[i] = this
            val[i] = arguments.length > 1 ? slice.call(arguments) : value
            if (val === progressValues) {
              deferred.notifyWith(ctx, val)
            } else if (!(--remain)) {
              deferred.resolveWith(ctx, val)
            }
          }
        }

    if (len > 1) {
      progressValues = new Array(len)
      progressContexts = new Array(len)
      resolveContexts = new Array(len)
      for ( ; i < len; ++i ) {
        if (resolveValues[i] && $.isFunction(resolveValues[i].promise)) {
          resolveValues[i].promise()
            .done(updateFn(i, resolveContexts, resolveValues))
            .fail(deferred.reject)
            .progress(updateFn(i, progressContexts, progressValues))
        } else {
          --remain
        }
      }
    }
    if (!remain) deferred.resolveWith(resolveContexts, resolveValues)
    return deferred.promise()
  }

  $.Deferred = Deferred
})(Zepto);


//登录超时
function ajaxProcess(options){
  var defaultOpt={
    dataType:'json',
    error:function(xhr, errorType, error){
      $.hidePreloader();
      $.hideIndicator();

      var ajaxTips=[];
      if(xhr.responseURL.length>0){
        ajaxTips.push('请求URL：<span style="word-break: break-all;">'+xhr.responseURL+'</span><br>');
      }
      ajaxTips.push(errorType+( error?(': '+error):'' ));

      $.modal({
        text : ajaxTips.join(''),
        buttons : [
          {
            text: '刷新重新加载',
            onClick: function() {
              window.location.reload();
            }
          }
        ]
      });
    },
    timeout:100*1000//请求最大时长 100秒
  }
  var opts=$.extend($.ajaxSettings, defaultOpt, options);

  opts.success=function(){};

  if(typeof(options.complete)=='function'){
    opts.complete=function(){};
  }

  if(typeof(options.error)=='function'){
    opts.error=function(){};
  }

  var xhr=$.ajax(opts)
  .done(function(response){
    var isGoing=true;
    //登录超时
    if(response.msgCode==401){
      isGoing=false;
      $.toast('登录超时');
      setTimeout(function(){
        location.href='login.html';
      },2000);
    }

    if(isGoing){
      if(typeof(options.success)=='function'){
        options.success(response);
      }
    }
  });

  if(typeof(options.complete)=='function'){
    xhr.always(function(){
      options.complete();
    });
  }

  if(typeof(options.error)=='function'){
    xhr.fail(function(xhr, errorType, error){
      options.error(xhr, errorType, error);
    });
  }

  return xhr;
  
}

//加载考试科目
//1.2.1 我的考试科目
ajaxProcess({
    type: 'GET',
    url: '/pcenter/mobile/exam/appointmentExam',
    success: function(response) {
      $('[data-id="exam-course-box"]').html(
        template('exam-course-temp',response)
      )
    }
});
  
//提问
$('[data-role="ask"]').on('click' , function(event) {
  $('#ask').html(
    template('pop-content-temp',{})
  )
  $.popup('#ask');
});

//收到
$('[data-role="receiver"]').on('click' , function(event) {
  $('#receiver').html(
    template('pop-receiver-temp',{})
  )
  $.popup('#receiver');
});

//发表问题
$(document).on('click', '[data-id="submit"]', function(event) {
  event.preventDefault();
  if(!commonjs.checkform( $('[data-id="form1"]') )) return;

  $.showIndicator();

  //1.2.2 学员提问
  ajaxProcess({
    type: 'POST',
    url: '/pcenter/mobile/exam/addSubject',
    data: $('[data-id="form1"]').serialize(),
    success: function(response) {
      if(response.msgCode==200){
        $.alert(
          '\
            <div style="font-size:.75rem;padding-top:.25rem;">\
              你的问题已提交，预估2小时内会得到回复，届时请留意短信通知！\
              <p>\
                问题回复详情请在PC官网登录学习空间<br>\
                <a href="http://www.oucgz.cn" class="external">http://www.oucgz.cn</a>\
              </p>\
              <div style="margin-bottom:.5rem;">或下载国开在线APP查看</div>\
              <a href="http://www.oucnet.cn/weixin/app_download.html" class="button button-big external">下载国开在线APP</a>\
            </div>\
          ',
          '<div class="text-blue"><span class="icon icon-emoji" style="font-size:2rem;margin-right:7px;line-height: 1;"></span>问题已提交！</div>', 
          function () {
              $.closeModal('#ask');
          }
        );
      }
      else{
        $.alert(response.message);
      }
    },
    complete:function(){
      $.hideIndicator();
    }
  });
  
})
//收到
.on('click', '[data-id="receive"]', function(event) {
  event.preventDefault();

  var $needCnt=$('[data-id="need-cnt"]:visible');

  if( $needCnt.length>0 ){
    if(!commonjs.checkform( $needCnt )) return;
  }

  $.showIndicator();

  var feedbackContent='';
  var $selItem=$('.sel-menu').find('input:checked');
  var i=$selItem.data('val');
  
  if(i==3){
    feedbackContent=$('[data-id="need-cnt"]').find('textarea').val();
  }
  else{
    feedbackContent=$selItem.val();
  }

  //1.2.3 学员反馈
  ajaxProcess({
    type: 'POST',
    url: '/pcenter/mobile/exam/addFeedback',
    data: {feedbackContent:feedbackContent},
    success: function(response) {
      if(response.msgCode==200){
        $.alert(
          '<div style="font-size:.75rem;padding-top:.25rem;">你的反馈，是我们改进的动力，我们将继续为你提供更好的服务！</div>',
          '<div class="text-blue"><span class="icon icon-emoji" style="font-size:2rem;margin-right:7px;line-height: 1;"></span>感谢你的反馈！</div>', 
          function () {
              $.closeModal('#receiver')
          }
        );
      }
      else{
        $.alert(response.message);
      }
    },
    complete:function(){
      $.hideIndicator();
    }
  });
  
})
.on('click', '.sel-menu li', function(event) {
  var i=$(this).find('input').data('val');
  if(i==3){
    $('[data-id="need-cnt"]').show();
  }
  else{
    $('[data-id="need-cnt"]').hide();
  }
})
.on('click', '.video-poster', function(event) {
  $(this).hide();
  var video=document.querySelector('.video-obj');
  video.play();
  video.setAttribute('controls','controls');
});

//图片上传
;(function(){
  var count=0;

    $(document).on('click', '.weui-uploader__file', function(e) {
      var _this=this;
      var url = $(_this).children('input').val();


      var myPhotoBrowserCaptions = $.photoBrowser({
            photos : [url],
            theme: 'dark',
            type: 'standalone',
            navbarTemplate:' ',
            toolbarTemplate:'<nav class="bar bar-tab my-gallery-footer">' +
                              '<a class="tab-item" href="javascript:;" data-role="remove-ga-pic">' +
                                '删除' +
                              '</a>' +
                              '<a class="tab-item photo-browser-close-link" href="javascript:;">' +
                                '返回' +
                              '</a>' +
                            '</nav>'
      });

      myPhotoBrowserCaptions.open();

      $('[data-role="remove-ga-pic"]').click(function(event) {
        event.preventDefault();
        $(_this).remove();
        myPhotoBrowserCaptions.close();
      });
      
    })

    .on("click",'#uploaderInput', function(e){
        e.preventDefault();
        createUploadIframe();
        ++count;
        frames['ifr'].document.getElementById('file').click();
    });
    //图片回调处理方法（跨域上传图片时，图片上传后需要调用的方法）
    window.imgCallback=function(ajaxFilelist){
        if(ajaxFilelist && ajaxFilelist.resultList && ajaxFilelist.resultList.length>0){
          $.each(ajaxFilelist.resultList, function(index, node) {
            var $item=$( '.weui-uploader__file[data-upload-id="'+count+'_'+index+'"]' );
            $item.removeClass('weui-uploader__file_status').html( '<input type="hidden" name="imgUrls" value="#url#">'.replace(/#url#/g, node.FILE_PATH) )
          });
        }
    }

    window.createUploadIframe=function (){
      var ifrm=$('#ifr');
      if(ifrm){
        ifrm.remove();
      }
      $('body').append('<iframe id="ifr" name="ifr" src="about:blank" style="display:none;"></iframe>');
      ifrm=document.getElementById('ifr');
      var doc=ifrm.contentWindow.document;

      doc.open();
      doc.write(template('h-tmp',{basePath:location.protocol+'//'+location.host}));
      doc.close();

      //显示图片
      $(ifrm.contentWindow.document).find('#file').on('change', function(e) {
        e.preventDefault();

        var tmpl = '<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(#url#)"  data-upload-id="#id#"><div class="weui-uploader__file-content"> <i class="weui-loading" style="width:30px;height:30px"></i> </div></li>';

        var src, url = window.URL || window.webkitURL || window.mozURL, files = e.target.files;


        if (files.length > 5) { // 防止一下子选择过多文件
           weui.alert('最多只能上传5张图片，请重新选择');
           return;
        }

        for (var i = 0, len = files.length; i < len; ++i) {
            var file = files[i];

            if (url) {
                src = url.createObjectURL(file);
            } else {
                src = e.target.result;
            }

            $("#uploaderFiles").append(tmpl.replace('#url#', src).replace('#id#', count+'_'+i));
        }

        var ifrm=document.getElementById('ifr');
        var doc=ifrm.contentWindow.document;
        
        doc.forms.submitForm.submit();
      });
    }
})();
</script>
</body>
</html>